/* style.css */

/* Ensure html and body take the full height and remove default margin */
html,
body {
  height: 100%;
  margin: 0;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  /* Set the font family here */
}

/* HEADER */
header {
  height: 100%;
  background-color: #7a70ff;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  /* Ensure padding is included in height calculation */
}

.header-content {
  width: 60%;
  display: inline-block;
  /* Ensure the container only takes up as much width as necessary */
  text-align: left;
  /* Align text to the left within the container */
  color: white;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.7em;
}

#hi-im-minhchau-bui {
  font-size: 4em;
  margin-bottom: 10px;
  font-weight: normal;
  text-shadow: 2px -1px 4px rgba(0, 0, 0, 0.4);
}

.highlight {
  background-color: #4c42d7;
  padding: 2px 4px;
  /* Add some padding around the text */
  border-radius: 4px;
  /* Round the corners of the highlight */
}

#header-description {
  font-size: 1.6em;
}

main {
  min-height: calc(100vh - 40px);
  /* Full viewport height minus header padding */
  margin-left: 7%;
  padding-top: 20px;
  padding-left: 7%;
  background-color: #f0f0f0;
  box-sizing: border-box;
  /* Ensure padding is included in height calculation */
}

section {
  background-color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 20px;
  /* padding: 20px; */
  /* border-radius: 10px; */
  margin-bottom: 20px;
}

#section-header {
  font-size: 2em;
  /* Adjust font size */
  color: #fff;
  /* Text color */
  margin-bottom: 10px;
  /* Bottom margin */
  text-transform: uppercase;
  /* Convert text to uppercase */
  background-color: #7066ff;
  /* Background color for the entire header */
  padding: 10px 20px;
  /* Padding inside the header */
  /* border-radius: 8px; /* Rounded corners */
  */
}

h2 {
  margin-top: 0;
}

/* NAVBAR  */
nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  /* Make nav take full viewport height */
  width: 12%;
  /* Set the width to 12% of the viewport */
  background-color: #fff;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  /* Add shadow to the right side */
  box-sizing: border-box;
  /* Ensure padding is included in width calculation */
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  text-align: center;
  margin-bottom: 0px;
  transition: transform 0.3s ease;
  /* Add transition for smooth animation */
  padding: 15px 0px;
}

nav li:hover {
  transform: translateX(5px);
  /* Move items 5px to the right on hover */
  background-color: #fafafa;
}

nav li::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 5px;
  height: 100%;
  background-color: #7a70ff;
  /* Blue line color */
  transform: scaleX(0);
  /* Initially hidden */
  transition: transform 0.3s ease;
  /* Smooth animation on hover */
}

nav li:hover::before {
  transform: scaleX(1);
  /* Show the blue line on hover */
}

nav li:hover a {
  color: #7a70ff;
  /* Change color on hover */
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
  /* Increase font size */
}

.profile-picture {
  /* Add some spacing */
  margin: 20px;
  position: relative;
  cursor: pointer;
}

.profile-picture::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  /* Black line */
  margin-top: 20px;
  /* Adjust as needed for spacing */
}

.profile-picture img {
  height: 125px;
  width: 90%;
  /* Ensure width is set for a circular image */
  border-radius: 50%;
  /* Make the image circular */
  border: 5px solid #7a70ff;
  /* Add a solid blue border */
}

/* Blinking cursor animation */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cursor {
  display: inline-block;
  vertical-align: top;
  animation: blink 0.7s infinite;
}


/* Adjust margins and paddings as needed */
.header-content p {
  margin-bottom: 0;
  /* Remove bottom margin */
}

.header-content p:last-child {
  margin-bottom: 10px;
  /* Add bottom margin only to the last paragraph */
}

/* SECTION - ABOUT ME */
.about-me-container {
  width: fit-content;
  gap: 20px;
  margin: 40px auto -20px auto;
  flex: 1;
  /* Each block takes equal space */
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  /* Add shadow to the right side */
}

/* SECTION - EXPERIENCE */
#experience {}

.experience-container {
  width: 50%;
  /* margin-top: 40px;
    margin-bottom: -20px; */
  margin: 40px auto -20px auto;
}

.experience-block {
  flex: 1;
  /* Each block takes equal space */
  margin-bottom: 40px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  /* Add shadow to the right side */
}

.experience-block h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.experience-block p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.experience-bullet-points li {
  margin-bottom: 15px;
}

.company-header {
  display: flex;
  margin: auto;
}

.company-header h2 {
  margin: 10px auto -10px;
  /* margin-bottom: -5px; */
}

.company-logo {
  width: 100px;
  /* Adjust size as needed */
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 20px;
  /* Space between logo and text */
}

/* SECTION - EDUCATION */
#education {
  /* Optional styling for the entire education section */
}

.education-container {
  display: flex;
  /* Use flexbox for layout */
  margin-top: 40px;
  gap: 40px;
  /* Adjust the gap between blocks */
}

.education-block {
  flex: 1;
  /* Each block takes equal space */
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  /* Add shadow to the right side */
}

.education-block h2 {
  font-size: 1.5em;
  margin-bottom: -5px;
}

.education-block p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* SECTION - PROJECTS */
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Two columns */
  column-gap: 40px;
  /* Gap between blocks */
  margin: 40px auto -20px auto;
}

.projects-block {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  /* Add shadow */
  margin-bottom: 40px;
  /* Space between rows */
}


.projects-header {
  margin: auto;
}

.projects-header h2 {
  margin: 10px auto 10px;
}

.projects-bullet-points li {
  margin-bottom: 15px;
  margin-right: 15px;
}


/* SECTION - SKILLS */
.skills-container {
  width: fit-content;
  gap: 20px;
  margin: 40px auto -20px auto;
}

.skills-block {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  /* Add shadow to the right side */
}

.skills-logos-container {
  display: flex;
  /* Add flex display */
  flex-wrap: wrap;
  /* Allow items to wrap */
  justify-content: space-around;
  /* Space items evenly */
}

.skills-logo {
  display: flex;
  flex-direction: column;
  /* Align items vertically */
  align-items: center;
  /* Center items horizontally */
  margin: 10px;
  /* Optional: Add some space around the container */
}

.skills-logo img {
  display: block;
  height: 80px;
  margin: 0 auto;
  /* Center the image */
}

.skill-name {
  margin-top: 10px;
  /* Space between the image and the text */
  font-size: 1.1em;
  /* Adjust the size of the text as needed */
}

/* SECTION - RESUME */
.button-container {
  text-align: center;
  margin-top: 50px;
}

.pdf-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #7066ff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pdf-button:hover {
  background-color: #4c42d7;
}

/* SECTION: CONTACT ME */
:root {
  --icon-size: 60px;
  /* Default icon size */
}

.contact-info {
  margin-top: 20px;
  /* Adjust spacing */
}

.contact-links {
  list-style: none;
  padding: 0;
}

.contact-links li {
  margin: 20px;
  margin-top: 40px;
}

.contact-links li a {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
  display: inline-flex;
  align-items: center;
  /* Align items vertically */
  line-height: 1.5;
  /* Adjust line height for better alignment */
}

.contact-links li a .icon {
  display: inline-block;
  align-items: center;
  width: var(--icon-size);
  /* Adjust icon width using variable */
  height: var(--icon-size);
  /* Adjust icon height using variable */
  margin-right: 10px;
  /* Adjust spacing between icon and text */
}

.contact-links li a .email-icon {
  background-image: url('email-icon.svg');
  background-size: contain;
}

.contact-links li a .linkedin-icon {
  background-image: url('linkedin-icon.png');
  background-size: contain;
}

.contact-links li a .phone-icon {
  background-image: url('phone-icon.svg');
  background-size: contain;
}

@media (max-width: 768px) {

  html,
  body {
    width: 100%;
    margin: 0;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    /* Set the font family here */
  }

  header {
    margin-left: 25%;
    width: 100%;
  }

  .header-content {
    width: 100%;
    text-align: left;
    /* Center text on smaller screens */
    margin-left: 10%;
    /* Reset left margin */
    margin-right: 0;
    padding-left: 0;
    /* Reset left padding */
    padding-right: 0;
    /* Reset right padding */
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
  }

  #hi-im-minhchau-bui {
    font-size: 2.5em;
  }

  #header-description {
    font-size: 1.2em;
  }

  main {
    width: 100%;
    margin-left: 0;
    /* Reset left margin */
    padding-left: 5%;
    padding-right: 5%;
  }

  section {
    width: 100%;
    margin-left: 25%;
    /* Reset left margin */
    padding-left: 5%;
    padding-right: 5%;
  }

  .experience-container,
  .projects-container,
  .skills-container,
  .education-container {
    width: 100%;
    margin-left: 0;
    /* Reset left margin */
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-me-container {
    width: 90%;
    margin-left: 5%;
    /* Reset left margin */
    padding-left: 5%;
    padding-right: 5%;
  }

  .projects-container {
    grid-template-columns: 1fr;
    /* Single column on smaller screens */
  }

  nav {
    width: 25%;
    /* Set back to original width */
    height: 100vh;
    /* Take full viewport height */
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
  }

  nav ul {
    list-style: none;
    padding: 0;
  }

  nav li {
    text-align: center;
    margin-bottom: 0px;
    transition: transform 0.3s ease;
    /* Add transition for smooth animation */
    padding: 15px 0px;
  }

  nav li:hover {
    transform: translateX(5px);
    /* Move items 5px to the right on hover */
    background-color: #fafafa;
  }

  nav li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
    background-color: #7a70ff;
    /* Blue line color */
    transform: scaleX(0);
    /* Initially hidden */
    transition: transform 0.3s ease;
    /* Smooth animation on hover */
  }

  nav li:hover::before {
    transform: scaleX(1);
    /* Show the blue line on hover */
  }

  nav li:hover a {
    color: #7a70ff;
    /* Change color on hover */
  }

  nav a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    /* Adjust font size */
  }

  .profile-picture img {
    width: 90%;
  }

  .skills-logos-container {
    justify-content: center;
    /* Center logos */
  }

  .education-container {
    flex-direction: column;
    /* Stack education blocks */
    gap: 20px;
  }

  .education-block {
    width: 90%;
  }
}
